body{
    background-color: bisque;
}

p {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;
    text-align: justify;
}

h1, h3 {
    text-align: center;
    color: brown;
    font-size: medium;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
}

img{
    width: 250px;
}

img ~ p {
    color:coral;
}